
@use 'sass:map';

@import '../../Common/palette.scss';

input[type="checkbox"] {
    appearance: none;
    cursor: pointer;
    margin: 0 !important;
    padding: 0 !important;
    color: #BFC4CA;
    width: 24px;
    height: 24px;
    border: 1px solid map.get($palette, 'neutral', 500);
    border-radius: 4px;
}
input[type="checkbox"]:focus {
    outline-color:  map.get($palette, 'primary', 400);
}
input[type="checkbox"]::before {
    transform: none;
    content: "";
    display: flex;
    width: 16px;
    height: 16px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: white;
}
input[type="checkbox"]:checked::before {
    transform: scale(1) translate(calc(100% / 4), calc(100% / 5));
    padding: 0 !important;
    align-self: stretch;
    clip-path: path('M5.91006 10.4959L3.7071 8.29291C3.31658 7.90239 2.68342 7.90239 2.29289 8.29291C1.90237 8.68343 1.90237 9.3166 2.29289 9.70712L5.29288 12.7071C5.7168 13.131 6.4159 13.0892 6.7863 12.6178L13.7863 4.61786C14.1275 4.18359 14.0521 3.55494 13.6178 3.21372C13.1835 2.87251 12.5549 2.94795 12.2136 3.38222L5.91006 10.4959Z');
}
input[type="checkbox"]:checked {
    border-color: map.get($palette, 'primary', 400);
    background-color: map.get($palette, 'primary', 400);
}