$palette: (
    primary: (
        900: #052450,
        800: #083678,
        700: #0B479F,
        600: #0D59C7,
        500: #106BEF,
        400: #3884F2,
        300: #74A9F6,
        200: #74A9F6,
        100: #D7E6FC
    ),
    neutral: (
        900: #292C31,
        800: #444A51,
        700: #5F6871,
        600: #7B8591,
        500: #BFC4CA,
        400: #CFD3D7,
        300: #DFE2E4,
        200: #EFF0F2,
        100: #FAFAFB
    ),
    danger: (
        500: #EB3305
    )
)