.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;

    @media (min-width: 500px) {
        background-color: #EFF0F2;
    }

    .box {
        background-color: white;
        height: 571px;
        width: 418px;
        border-radius: 10px;
        border: 1px solid #DFE2E4;
        box-shadow: 2px 2px 2px #DFE2E4;
    }
}

.header {
    background-color: #E9F2FF;
    display: flex;
    gap: 7px;
    height: 80px;
    font-weight: 700;
    padding-left: 43px;
    padding-right: 43px;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    :last-child {
        color: #60A1FF
    }
}