@use 'sass:map';

@import '../../Common/palette.scss';
@import '../../Common/responsive.scss';

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;

    @include for-not-small {
        background-color: map.get($palette, 'neutral', 200);
    }

    .box {
        background-color: white;
        min-height: 571px;
        display: flex;
        flex-direction: column;
        
        .header {
            background-color: #E9F2FF;
            display: flex;
            gap: 7px;
            height: 80px;
            font-weight: 700;
            padding-left: 43px;
            padding-right: 43px;
            align-items: center;

            :last-child {
                color: #60A1FF
            }
        
            @include for-not-small {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            @include for-small {
                background-color: map.get($palette, 'primary', 900);
                height: 60px;
                
                h1 {
                    font-size: 14px;
                }

                :first-child {
                    color: white;
                }
            }
        }

        @include for-not-small {
            width: 418px;
            border-radius: 10px;
            border: 1px solid map.get($palette, 'neutral', 300);
            box-shadow: 2px 2px 2px map.get($palette, 'neutral', 300);
        }
        @include for-small {
            flex: 1;
            align-self: stretch;
        }

    }
}