.container {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
            font-size: 24px;
        }
    
        .profileMain {
            display: flex;
            width: 580px;
            gap: 80px;
    
            .avatarSection {
                img {
                    height: 174px;
                    width: 174px;
                    border-radius: 50%;
                    border: 1px solid #BFC4CA;
                }
            }
            .profileForm {
                display: flex;
                flex-direction: column;
                flex: 1;
                gap: 14px;
            
                input[type='submit'] {
                    width: fit-content;
                    margin-top: 20px;
                    border: none;
                    font-weight: 500;
                    color: white;
                    background-color: #3884F2;
                    border-radius: 4px;
                    padding-left: 40px;
                    padding-right: 40px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
    
    }
}


