@use 'sass:map';

@import '../common.scss';
@import '../palette.scss';

.backButton {
    @extend .hover-animation;

    align-items: center;
    display: flex;
    border: none;
    background-color: transparent;
    gap: 8px;
    cursor: pointer;

    span {
        height: 16px;
        width: 21px;
    }
    h1 {
        color: map.get($palette, 'neutral', 900);
        font-size: 20px;
        margin: 0;
    }
}