@use 'sass:map';

@import '../Common/common.scss';
@import '../Common/palette.scss';
@import '../Common/responsive.scss';

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #FAFAFB;
    .main {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-self: stretch;
    
        .stories-grid {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
    
            margin-top: 18px;
            margin-left: 28px;
            margin-right: 28px;
            margin-bottom: 18px;
    
    
            @include for-medium {
                grid-template-columns: 1fr 1fr;
                margin-left: 0;
                margin-right: 0;
            }
            @include for-small {
                grid-template-columns: 1fr;
                margin-left: 0;
                margin-right: 0;
            }
    
            gap: 16px;
            flex: 1;
    
            article {
                padding: 20px;
                padding-bottom: 24px;
                display: flex;
                flex: 1;
                flex-direction: column;
                align-self: stretch;
                border: 1px solid map.get($palette, 'neutral', 200);
                border-radius: 4px;
                background-color: white;
                box-shadow: 5px 5px 5px rgba(133, 132, 132, 0.1);
                justify-content: space-between;
    
                header {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 8px;
    
                    img {
                        width: 22px;
                        height: 22px;
                        border-radius: 50%;
                    }
    
                    .date {
                        color: map.get($palette, 'neutral', 700);
                    }
                }
    
                .articleBody {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
    
                    @include for-not-large {
                        flex-direction: row-reverse;
                    }

                    .imgWrapper {
                        @include for-large {
                            display: block;
                            position: relative;
                            width: 100%;
                            overflow: hidden;
                            min-height: 100px;
                        }

                        img {
                            min-width: 100%;
                            min-height: 100%;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translateX(-50%) translateY(-50%);

                            @include for-not-large {
                                position: relative;
                                height: 62px;
                                width: 62px;
                                object-fit: cover;
                                margin-left: 24px;
                            }
                        }
                    }
    
                    p {
                        font-size: 14px;
                        text-overflow: ellipsis;
                        flex-shrink: 1;
                    }
                }
                
    
                footer {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    justify-self: end;
    
                    .readMoreBtn {
                        @extend .hover-animation;

                        background-color: white;
                        cursor: pointer;
                        border: none;
                        padding: 0;
                        font-weight: 700;
                        color: map.get($palette, 'primary', 500);
                    }
    
                    .likeButton {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 8px;
    
                        .likeIcon {
                            height: 12px;
                            width: 12px;
                            color: map.get($palette, 'neutral', 700);
                        }
    
                        p {
                            color: map.get($palette, 'neutral', 700);
                            margin: 0;
                        }
                    }
    
                }
            }
        }
    
        .stories-grid-header {
            display: flex;
            flex-direction: row;
            background-color: white;
            align-items: center;
            gap: 16px;
            padding: 28px;
            box-shadow: 5px 5px 5px rgba(0, 0, 0 , 0.05);
    
            @include for-not-large {
                justify-content: space-between;
            }
    
            h1 {
                margin: 0;
                font-family: Helvetica;
                font-weight: 700;
                font-size: 20px;
            }
    
            .add-story-btn {
                @extend .hover-animation;

                cursor: pointer;
                border: none;
                padding: 16px;
                padding-top: 12px;
                padding-bottom: 12px;
                border-radius: 4px;
                background-color: map.get($palette, 'primary', 400);
                color: white;
                font-family: Helvetica;
                font-weight: 700;
                font-size: 14px;
            }
        }
    }
}
