.container {
    height: 100vh;
    .storyHeader {
        padding: 26px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.05);
        .backButton {
            align-items: center;
            display: flex;
            border: none;
            background-color: transparent;
            gap: 8px;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
                transition: 100ms;
            }

            img {
                height: 16px;
                width: 21px;
            }
            h1 {
                color: #292C31;
                font-size: 20px;
            }
        }
    }
}